<% @json["result"]["event"].each do |event| %>
<div class="col-xs-12" onClick="document.location='/films/filminfo/<%= event["id"].to_i %>'">
<h3><%= event["name"] %></h3>
<div class="col-xs-12 col-sm-2">
<%= image_tag(event["details"]["poster"]["image"][0]["url"])%>
</div>
<div class="col-xs-12 col-sm-10">
<p><%= event["description"] %></p>
</div>
</div>
<% end %>

